#bio {
    width: 400px;
    height: 200px;
    border: 5px solid teal;
}

body {
    background-size: 100%;
    background-image: url("https://i.pinimg.com/originals/03/d5/9f/03d59f68a0fc74b9ed1e21a8cbd0aea4.png")
}

h1 {
    width: 400px;
    background-color: aqua;
    color: white;
    text-align: center
}