body, html {
    height: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/left.jpg");
    height: 55%;
    background-position-y: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: start;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

#myname {
    font-size: 70px;
}

#name {
    text-shadow: black 5px 5px;
}


@media only screen and (max-width: 650px) {
    .hero-text{
        top: 45%;
        /* margin-left: 10px; */
        text-align: start;
        flex-wrap: nowrap;
        /* position: relative; */
    }

    #myname {
        font-size: 45px;
    }
}


p {
    font-size: 15px;
}

img {
    height: 150%;
    /* width: 200% !important; */
    margin-right: 15%;
}

.left-card {
    margin: 5% 0 5% 5%;
}

.right-card {
    margin: 5% 5% 5% 0;
}

#starwars {
    background-image: url("../images/jafwpic.png");
    padding: 100px 0 100px 0;
}

#datenight {
    background-image: url("../images/dateback.png");
    padding: 100px 0 100px 0;
}

#friend {
    background-image: url("../images/friendback.png");
    padding: 100px 0 100px 0;
}

#momnpop {
    background-image: url("../images/momback.png");
    padding: 100px 0 100px 0;
}



.brand-logo {
    margin: 0 15px 0 15px;
}

#navdate, #datebutton {
    background-color: #378bad;
}

#navwars, #warsbutton {
    background-color: #9e4637;
}

#navfriend, #friendbutton {
    background-color: #dea347;
}

#navmom, #mombutton {
    background-color: #364d55;
}

/* Class for when element is above threshold */
.pin-top {
  position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
  position: relative;
}

/* Class for when element is pinned */
.pinned {
  position: fixed !important;
}