body, html {
    height: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/left.jpg");
    height: 55%;
    background-position-y: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@media only screen and (max-width: 600px) {
    .hero-text{
        top: 40%;
        text-align: center;
        flex-wrap: nowrap;
    }
    h1 {
        font-size: medium;
    }
}

p {
    font-size: 15px;
}

img {
    height: 150%;
    /* width: 200% !important; */
    margin-right: 15%;
}

.left-card {
    margin: 5% 0 5% 5%;
}

.right-card {
    margin: 5% 5% 5% 0;
}

#starwars {
    background-image: url("../images/starback.png");
    padding: 100px 0 100px 0;
}

#datenight {
    background-image: url("../images/dateback.png");
    padding: 100px 0 100px 0;
}

#train {
    background-image: url("../images/trainback.png");
    padding: 100px 0 100px 0;
}

#trivia {
    background-image: url("../images/triviaback.png");
    padding: 100px 0 100px 0;
}



.brand-logo {
    margin: 0 15px 0 15px;
}

#navdate, #datebutton {
    background-color: #378bad;
}

#navwars, #warsbutton {
    background-color: #9e4637;
}

#navtrain, #trainbutton {
    background-color: #364d55;
}

#navtrivia, #triviabutton {
    background-color: #dea347;
}

/* Class for when element is above threshold */
.pin-top {
  position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
  position: relative;
}

/* Class for when element is pinned */
.pinned {
  position: fixed !important;
}